@charset "UTF-8";
/* CSS Document */

/*Paleta de color
ML Blue1: #005193;
ML Blue2: #0093D9;
ML Blue3: #01214D;
ML Red; #D0043C;
ML Stell Blue: #D4DCE7;
ML Gold: #E2C58E;
Gris fonts: #8b8b8b;
*/


/*Generales*/


body, .pageWrapper {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	background-color: rgba(4,18,45,1);
}
.pageWrapper {
	position:relative;}
.totalizer{
	height:100%;
	min-height:100%;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'akzidenz-cond', impact, arial, sans-serif;
	color: #fff;
	letter-spacing: 0.1rem;
}
h1 {
	font-size: 3.75rem;
	line-height: 3.1rem;
}
h2 {
	font-size: 3.3125rem;
	line-height: 2.8rem;
}
h3 {
	font-size: 2.6875rem;
	line-height: 2.3rem;
}
h4 {
	font-size: 2.4375rem;
	line-height: 2rem;
}
h5 {
	font-size: 2.125rem;
	line-height: 1.95rem;
}
h6 {
	font-size: 2rem;
	line-height: 1.85rem;
}

p {
	margin: 0;
}
p, label {
    font-family: 'robotoregular';
	color: #fff;
	line-height: 1.4rem;
}
/************** Transitions ***************/
.trans1{
-webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;

}
.trans2{
-webkit-transition:  width  0.3s ease;
-moz-transition:  width  0.3s ease;
-ms-transition:  width  0.3s ease;
-o-transition:  width  0.3s ease;
transition:  width 0.3s ease;

}
/************* Color Gradients***********/
.millerOfficialGrad {
	background: rgb(0,81,147);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDA1MTkzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMjUlIiBzdG9wLWNvbG9yPSIjMDA5M2Q5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNzUlIiBzdG9wLWNvbG9yPSIjMDA5M2Q5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNTE5MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg, rgba(0,81,147,1) 0%, rgba(0,147,217,1) 25%, rgba(0,147,217,1) 75%, rgba(0,81,147,1) 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(0,81,147,1)), color-stop(25%, rgba(0,147,217,1)), color-stop(75%, rgba(0,147,217,1)), color-stop(100%, rgba(0,81,147,1)));
	background: -webkit-linear-gradient(-45deg, rgba(0,81,147,1) 0%, rgba(0,147,217,1) 25%, rgba(0,147,217,1) 75%, rgba(0,81,147,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(0,81,147,1) 0%, rgba(0,147,217,1) 25%, rgba(0,147,217,1) 75%, rgba(0,81,147,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(0,81,147,1) 0%, rgba(0,147,217,1) 25%, rgba(0,147,217,1) 75%, rgba(0,81,147,1) 100%);
	background: linear-gradient(135deg, rgba(0,81,147,1) 0%, rgba(0,147,217,1) 25%, rgba(0,147,217,1) 75%, rgba(0,81,147,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005193', endColorstr='#005193', GradientType=1 );
}
.gradBG1 {
	background: rgb(4,18,45);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDQxMjJkIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwOTNkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg, rgba(4,18,45,1) 0%, rgba(0,147,217,1) 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(4,18,45,1)), color-stop(100%, rgba(0,147,217,1)));
	background: -webkit-linear-gradient(-45deg, rgba(4,18,45,1) 0%, rgba(0,147,217,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(4,18,45,1) 0%, rgba(0,147,217,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(4,18,45,1) 0%, rgba(0,147,217,1) 100%);
	background: linear-gradient(135deg, rgba(4,18,45,1) 0%, rgba(0,147,217,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04122d', endColorstr='#0093d9', GradientType=1 );
}
.gradBG2 {
	background: rgb(4,18,45);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjIwJSIgc3RvcC1jb2xvcj0iIzA0MTIyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwOTNkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwOTNkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgwJSIgc3RvcC1jb2xvcj0iIzA0MTIyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg, rgba(4,18,45,1) 20%, rgba(0,147,217,1) 50%, rgba(0,147,217,1) 50%, rgba(4,18,45,1) 80%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(20%, rgba(4,18,45,1)), color-stop(50%, rgba(0,147,217,1)), color-stop(50%, rgba(0,147,217,1)), color-stop(80%, rgba(4,18,45,1)));
	background: -webkit-linear-gradient(-45deg, rgba(4,18,45,1) 20%, rgba(0,147,217,1) 50%, rgba(0,147,217,1) 50%, rgba(4,18,45,1) 80%);
	background: -o-linear-gradient(-45deg, rgba(4,18,45,1) 20%, rgba(0,147,217,1) 50%, rgba(0,147,217,1) 50%, rgba(4,18,45,1) 80%);
	background: -ms-linear-gradient(-45deg, rgba(4,18,45,1) 20%, rgba(0,147,217,1) 50%, rgba(0,147,217,1) 50%, rgba(4,18,45,1) 80%);
	background: linear-gradient(135deg, rgba(4,18,45,1) 20%, rgba(0,147,217,1) 50%, rgba(0,147,217,1) 50%, rgba(4,18,45,1) 80%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04122d', endColorstr='#04122d', GradientType=1 );
}
.redGrad {
	background: rgb(208,4,60);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1JSIgc3RvcC1jb2xvcj0iI2QwMDQzYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5ODAwMmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(208,4,60,1) 5%, rgba(152,0,42,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,rgba(208,4,60,1)), color-stop(100%,rgba(152,0,42,1)));
background: -webkit-linear-gradient(top, rgba(208,4,60,1) 5%,rgba(152,0,42,1) 100%);
background: -o-linear-gradient(top, rgba(208,4,60,1) 5%,rgba(152,0,42,1) 100%);
background: -ms-linear-gradient(top, rgba(208,4,60,1) 5%,rgba(152,0,42,1) 100%);
background: linear-gradient(to bottom, rgba(208,4,60,1) 5%,rgba(152,0,42,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0043c', endColorstr='#98002a',GradientType=0 );
}

.blueGrad {
	background: rgb(0,51,126);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMzM3ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDUxOTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(0,51,126,1) 0%, rgba(0,81,146,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,51,126,1)), color-stop(100%, rgba(0,81,146,1)));
	background: -webkit-linear-gradient(top, rgba(0,51,126,1) 0%, rgba(0,81,146,1) 100%);
	background: -o-linear-gradient(top, rgba(0,51,126,1) 0%, rgba(0,81,146,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,51,126,1) 0%, rgba(0,81,146,1) 100%);
	background: linear-gradient(to bottom, rgba(0,51,126,1) 0%, rgba(0,81,146,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00337e', endColorstr='#005192', GradientType=0 );
}
.blueGradBTN {
	background: rgb(0,51,126);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMzM3ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDUxOTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(0,51,126,1) 0%, rgba(0,81,146,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,51,126,1)), color-stop(100%, rgba(0,81,146,1)));
	background: -webkit-linear-gradient(top, rgba(0,51,126,1) 0%, rgba(0,81,146,1) 100%);
	background: -o-linear-gradient(top, rgba(0,51,126,1) 0%, rgba(0,81,146,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,51,126,1) 0%, rgba(0,81,146,1) 100%);
	background: linear-gradient(to bottom, rgba(0,51,126,1) 0%, rgba(0,81,146,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00337e', endColorstr='#005192', GradientType=0 );
}

.blueGradBTN:hover {
	background: rgb(0,145,215);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2JSIgc3RvcC1jb2xvcj0iIzAwOTFkNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDU3OTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(0,145,215,1) 6%, rgba(0,87,147,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(6%, rgba(0,145,215,1)), color-stop(100%, rgba(0,87,147,1)));
	background: -webkit-linear-gradient(top, rgba(0,145,215,1) 6%, rgba(0,87,147,1) 100%);
	background: -o-linear-gradient(top, rgba(0,145,215,1) 6%, rgba(0,87,147,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,145,215,1) 6%, rgba(0,87,147,1) 100%);
	background: linear-gradient(to bottom, rgba(0,145,215,1) 6%, rgba(0,87,147,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0091d7', endColorstr='#005793', GradientType=0 );
}
.blueGradB {
	background: rgb(0,145,215);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2JSIgc3RvcC1jb2xvcj0iIzAwOTFkNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDU3OTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(0,145,215,1) 6%, rgba(0,87,147,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(6%, rgba(0,145,215,1)), color-stop(100%, rgba(0,87,147,1)));
	background: -webkit-linear-gradient(top, rgba(0,145,215,1) 6%, rgba(0,87,147,1) 100%);
	background: -o-linear-gradient(top, rgba(0,145,215,1) 6%, rgba(0,87,147,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,145,215,1) 6%, rgba(0,87,147,1) 100%);
	background: linear-gradient(to bottom, rgba(0,145,215,1) 6%, rgba(0,87,147,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0091d7', endColorstr='#005793', GradientType=0 );
}
.deepBlueGrad{
background: #05122e;
background: -moz-linear-gradient(-45deg, #05122e 0%, #105fa9 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#05122e), color-stop(100%,#105fa9));
background: -webkit-linear-gradient(-45deg, #05122e 0%,#105fa9 100%);
background: -o-linear-gradient(-45deg, #05122e 0%,#105fa9 100%);
background: -ms-linear-gradient(-45deg, #05122e 0%,#105fa9 100%);
background: linear-gradient(135deg, #05122e 0%,#105fa9 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05122e', endColorstr='#105fa9',GradientType=1 );
}
/*---------------------------------- Menu Inside--------------------------------------*/
.effect-airbnb {
	background: #05122e;
background: -moz-linear-gradient(-45deg, #05122e 0%, #105fa9 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#05122e), color-stop(100%,#105fa9));
background: -webkit-linear-gradient(-45deg, #05122e 0%,#105fa9 100%);
background: -o-linear-gradient(-45deg, #05122e 0%,#105fa9 100%);
background: -ms-linear-gradient(-45deg, #05122e 0%,#105fa9 100%);
background: linear-gradient(135deg, #05122e 0%,#105fa9 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05122e', endColorstr='#105fa9',GradientType=1 );
}
.effect-airbnb .container{
	opacity:1;
}
/*---------------------------------- Menu outside--------------------------------------*/
.menuHeader{
	position:absolute;
	left: 0;
	right: 0;
	margin: auto;
	text-align:right;
	margin: 0.2rem auto 0;

}
.menuHeader .menuBTN{
	background: none;
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align:middle;
  position: relative;
}
.menuHeader .menuBTN:hover{
	background-color: rgba(255, 255, 255, 0.2);
}

.menuHeader .menuBTN span{
	position:absolute;
	top: 0;
	bottom: 0;
	left:32%;
	}
.menuHeader .menuBTN span:after{
	content: "";
display: block;
height: 0px;
position: absolute;
top: 50%;
margin-top: -0.44444rem;
left: 0;
box-shadow: 0px 0px 0px 1px #FFF, 0px 7px 0px 1px #FFF, 0px 14px 0px 1px #FFF;
width: 0.88889rem;
}
.userTool{
	display: inline-block;
	margin: 0 1rem;
}
.userTool .userThumbnail{
overflow: hidden;
display: inline-block;
vertical-align: middle;
border-radius: 50%;
}
.minThumbnail{
	width: 35px;
height: 35px;
}
.userTool .userName{
	vertical-align: middle;
	font-family: 'robotoregular';
	color: #fff;
	line-height: 1.4rem;
	margin: 0 0.4rem;
}
.userTool .userName:hover{
	color: #0093D9;

}

/*---------------------------------- logg in Wrapper -------------------------------*/
.logginWrapper{
	width:100%;
	background-color: #01214D;
	text-align: center;
	padding: 0rem;
}
.connectMin{
	display:none;
	width:195px;
	height:38px;
	background:none;
	background-image:url(../images/elementos.png);
	margin:0;
	vertical-align:middle;
}
.facebook.connectMin{
	background-position:-148px -1px;}
.twitter.connectMin{
	background-position:-148px -76px;}
	.facebook.connectMin:hover{
	background-position:-148px -38px;
	background-color:transparent;}
.twitter.connectMin:hover{
	background-position:-148px -113px;
	background-color:transparent;}
	
.showLogin{
	padding: 1rem;
}
.showLogin .connectMin{
	display:inline-block;

}
/*---------------------------------- logg in Wrapper -------------------------------*/
.logginWrapper{
	width:100%;
	background-color: #01214D;
	text-align: center;
	padding: 1rem;
}
.connectMin{
	display:inline-block;
	width:195px;
	height:38px;
	background:none;
	background-image:url(../images/elementos.png);
	margin:0;
	vertical-align:middle;
}
.facebook.connectMin{
	background-position:-148px -1px;}
.twitter.connectMin{
	background-position:-148px -76px;}
	.facebook.connectMin:hover{
	background-position:-148px -38px;
	background-color:transparent;}
.twitter.connectMin:hover{
	background-position:-148px -113px;
	background-color:transparent;}
/*---------------------------------- Validador De Edad -----------------------------*/
.beerSmoke {
	position: fixed;
	bottom: 0px;
	width: 55%;
	z-index: 0;
}
.beerSmoke img {
	width: 100%;
	height: auto;
}
.validationWrapper {
	width: 100%;
}
.validationWrapper div {
	height: 100%;
}
.validationDateWrapper {
	margin-top: 32%;
}
.logoMillerLite {
	/**MEDIA**/display: none;
	text-align: center;
	padding: 2rem;
}
.logoMillerLite img {
	display: inline-block;
	height: 100%;
	width: auto;
}
.validationDateWrapper p {
	font-family: 'roboto_condregular';
}
.validationDateWrapper h1, .validationDateWrapper h2 {
	margin-bottom: 1rem;
}
.diasWrapper {
	text-align: justify;
}
.diasWrapper:after {
	content: '';
	display: inline-block;
	width: 100%;
}
.diasWrapper .validationDate {
	width: 30%;
	text-align: center;
	display: inline-block;
	font-size: 1rem;
}

.validationDate select{
  	font-family: 'akzidenz-cond',impact,arial, sans-serif;
  	font-size: 4rem;
  	height: 5rem;
  	text-align: center;
  	margin: auto;
 	width: 100%;
 	padding-left: 30%;
}
.validationDate input{
	text-align: center;
	font-family: 'akzidenz-cond',impact,arial, sans-serif;
	font-size: 4rem;
 	height: 5rem;
 }
 .avisoValidador{
	 background-color: rgba(212,220,231,0.4);
	 
}
.avisoValidador p{
	display:inline-block;
	text-transform: uppercase;
	font-size: 0.8rem;
	line-height: 0.95rem;
    text-align: justify;
	color: #01214D;
}
.diasWrapper .validationDate select {
	font-family: 'akzidenz-cond', impact, arial, sans-serif;
	font-size: 4rem;
	height: 5rem;
	text-align: center;
	margin: auto;
	width: 100%;
	padding-left: 30%;
}
.diasWrapper .validationDate p {
	margin: 0;
}
.diasWrapper .validationDate input {
	text-align: center;
	font-family: 'akzidenz-cond', impact, arial, sans-serif;
	font-size: 4rem;
	height: 5rem;
	margin: 0;
}
.avisoValidador {
	background-color: rgba(212,220,231,0.4);
	padding: 0.6rem;
}
.avisoValidador p {
	display: inline-block;
	text-transform: uppercase;
	font-size: 0.8rem;
	line-height: 0.95rem;
	text-align: justify;
	color: #01214D;
	margin: 0;
}
.avisoValidador * {
	margin: 0;
}
.millerTimeSmoke {
	width: 100%;
	margin-top: -35%;
}
.millerTimeSmoke img {
	width: 100%;
	height: auto;
}


/*------------------------ Bara divisora --------------------*/
.midBar{
	-webkit-box-shadow:inset 0 3px 5px 0 rgba(0,70,132,0.75), 0 10px 20px 0 rgba(0,0,0,0.45);
	box-shadow:inset 0 3px 5px 0 rgba(0,70,132,0.75), 0 10px 20px 0 rgba(0,0,0,0.45);
}
.midBar .row{
	padding: 1rem 1rem 0.8rem;
}
.midBar .row div {
	display: inline-block;
	vertical-align: middle;
	max-width: 480px;
	margin-right: 2rem;
}
.midBar .row div h4{}
.midBar .row div p{}
.midBar .row nav{
	display: inline-block;
	width:45%;
	vertical-align: middle;
	text-align: center;
	margin-top: 1%
}
.midBar .row nav .participarBTN{
	font-family: 'akzidenz-cond', impact, arial, sans-serif;
	color: #fff;
	letter-spacing: 0rem;
	text-shadow: 0 3px 3px #68001d;
	font-size: 3.2rem;
	display: inline-block;
	vertical-align: middle;
	padding: 1.1rem 1rem;
	line-height: 2.8rem;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(8, 74, 108, 1);
	box-shadow:0px 3px 3px 0px rgba(8, 74, 108, 1);
}
.midBar .row nav .participarBTN:hover{
background: rgb(152,0,42);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzk4MDAyYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2QwMDQzYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top, rgba(152,0,42,1) 1%, rgba(208,4,60,1) 60%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(152,0,42,1)), color-stop(60%,rgba(208,4,60,1)));
background: -webkit-linear-gradient(top, rgba(152,0,42,1) 1%,rgba(208,4,60,1) 60%);
background: -o-linear-gradient(top, rgba(152,0,42,1) 1%,rgba(208,4,60,1) 60%);
background: -ms-linear-gradient(top, rgba(152,0,42,1) 1%,rgba(208,4,60,1) 60%);
background: linear-gradient(to bottom, rgba(152,0,42,1) 1%,rgba(208,4,60,1) 60%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98002a', endColorstr='#d0043c',GradientType=0 );
}
.midBar .row nav .comoParticiparBTN{
	display: inline-block;
	vertical-align: middle;
	-webkit-box-shadow: 0px 3px 3px 0px rgba(8, 74, 108, 1);
     box-shadow: 0px 3px 3px 0px rgba(8, 74, 108, 1);
	
	
}
.midBar .row nav .comoParticiparBTN:hover{
	background: rgb(0,51,126);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzAwMzM3ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iIzAwNjRiNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top, rgba(0,51,126,1) 1%, rgba(0,100,181,1) 60%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(0,51,126,1)), color-stop(60%,rgba(0,100,181,1)));
background: -webkit-linear-gradient(top, rgba(0,51,126,1) 1%,rgba(0,100,181,1) 60%);
background: -o-linear-gradient(top, rgba(0,51,126,1) 1%,rgba(0,100,181,1) 60%);
background: -ms-linear-gradient(top, rgba(0,51,126,1) 1%,rgba(0,100,181,1) 60%);
background: linear-gradient(to bottom, rgba(0,51,126,1) 1%,rgba(0,100,181,1) 60%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00337e', endColorstr='#0064b5',GradientType=0 );
}
/*---------------------------------------Buscador--------------------------------*/
.buscador{
	border-radius: 10px;
	padding: 0 0.5rem;
}
/*galeria*/
.pd_s{
	margin:0 auto !important;
	/*text-align: justify;*/
	width:98%;
	position:relative;
	}
	.statusXPUser{
		width: 100%;
position: relative;
display: inline;
}
.insideStatus{
background-color: #0093D9;
height: 100%;
display: block;
top: 0px;
bottom: 0px;
position: absolute;
margin-left: 33%;
width: 0%;
overflow: hidden;
opacity:0;
}
.insideStatusOpen{
	width:67%;
	padding:1rem;
	opacity:1;
}


.insideStatus .textStatus{
	margin-top: 0%;
	display:none;
	opacity:0;
	}
.insideStatus .textStatus *{
	margin-bottom:1rem;
}

.insideStatus nav{
	position:absolute;
	bottom:0;
	width:95%;
	display:none;
	opacity:0;
	}
.insideStatusOpen .textStatus{
	margin-top: 5%;
	display: block !important;
	opacity:1 !important;
}
.insideStatusOpen nav{
	display: block !important;
	opacity:1 !important;
}
.insideStatus nav button{
	font-family: 'akzidenz-cond', impact, arial, sans-serif;
	color: #fff;
	letter-spacing: 0.1rem;
	padding:0.3rem 2rem 0.1rem;
	-webkit-box-shadow:2px 4px 3px 0 rgba(0,0,0,0.45);
	box-shadow:2px 4px 3px 0 rgba(0,0,0,0.45);
	font-size:2rem;
	text-shadow: 0 3px 3px #001421;
}

.insideStatus nav .statusShare{
	float: right;
}
.insideStatus nav .statusShare:after{
	clear:both;
}
.insideStatus nav .statusShare h6{
	display: inline-block;
	vertical-align: middle;
}
.insideStatus nav .statusShare a{
	display:inline-block;
	vertical-align:middle;
	width:43px;
	height:44px;
	background-image:url(../images/elementos.png);
	cursor:pointer;
} 
.insideStatus nav .statusShare .facebookShare{
	background-position:-26px 0px;
	
}
.insideStatus nav .statusShare .twitterShare{
	background-position:-79px 0px;
}
.insideStatus nav .statusShare .facebookShare:hover{
	background-position:-26px -45px;
	
}
.insideStatus nav .statusShare .twitterShare:hover{
	background-position:-79px -45px;
}
.showStatusbar{
	display:inline-block;
	position:absolute;
	left:0;
	z-index: 100;
	}
.cuboGaleria{
	padding: 0px;
	width: 33%;
	display: inline-block;
	vertical-align: top;
	position: relative;
}
.pd_s:after{
	content: '';
	display: inline-block;
	width: 100%;

}

.cuboGaleria .gallery{ 
	width: 100%;
	/*height: 350px;*/
	position: relative;
	overflow:hidden;
	padding-bottom:100%
}

.cuboGaleria .gallery .userGaleryimg{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.cuboGaleria .gallery .userGaleryimg img{
	width: 100%;
	height: 100%;
}

.wish {
  width: 100%;
  background-color: #fff;
  color: #01204d;
  padding: 2% 0 0 2%;
  background: url("../images/pix.png")repeat;
  position: absolute;
  top: 0px;	 
}
.insideStatusOpen + .cuboGaleria .gallery .wish{
height:100%;
}
.wish h4{
color:#01204d;
opacity:1;
}

.insideStatusOpen + .cuboGaleria .gallery .wish h4{
	opacity:0;
}
.closeX{
	display: block;
	height: 33px;
width: 33px;
background-image: url("../images/elementos.png");
background-position: -103px -104px;

position: absolute;
top: 6px;
right: 6px;
opacity:0;
}
.insideStatusOpen + .cuboGaleria .gallery .wish .closeX{
	opacity:1;
}
.count {
  width: 100%;
  display: inline-block;
  height: 45px;
  background-color: #fff;
  background: url("../images/pix.png")repeat;
  position:absolute;
  bottom:0;
}

.numb {
  float: left;
  width: 50%;
  height: 45px;
  color: #005192;
  font-family: 'akzidenz-cond', impact, arial, sans-serif;
  font-size: 5rem;
  line-height: 2.2rem;
  padding: 0 0 0 3%;
  text-shadow: 8px -4px 25px rgba(255, 255, 255, 1);
}
.insideStatusOpen + .cuboGaleria .gallery .count{
	background:none;
}

.count a {
  float: right;
  width: 50%;
  height: 45px;
  text-align: right;
  font-size: 2rem;
  line-height: 2.8rem;
  padding: 0 3% 0 0;
  color:#01204d;
  font-family: 'akzidenz-cond', impact, arial, sans-serif;
  
}
.count a h5{
	margin: 0px;
display: inline-block;
color: #01204D;
opacity:1;
}
.insideStatusOpen + .cuboGaleria .gallery .count a h5{
	opacity:0;
}
.count span {
color:#005192;

}
.ya{
	color:#F7D000 !important;
	text-shadow: 8px -4px 25px rgba(255, 255, 255, 1);
}

.vertodoBTN{
	font-family: 'akzidenz-cond', impact, arial, sans-serif;
	color: #fff;
	letter-spacing: 0.1rem;
	padding:0.5rem 2rem 0.3rem;
	-webkit-box-shadow:2px 4px 3px 0 rgba(0,0,0,0.45);
	box-shadow:2px 4px 3px 0 rgba(0,0,0,0.45);
	text-shadow: 0 3px 3px #001421;
	font-size:2rem;
	}
/*------------------------ Footer -----------------------*/
footer {
	bottom: 0;
	display: block;
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	padding: 0rem 0rem 0.5rem;
}
footer nav {
	max-width: 960px;
	display: inline-block;
	font-size: 0.8rem;
	color: #fff;
}
footer nav a {
	color: #fff;
	margin: 0 0.5rem;
}
footer nav a:hover {
	color: #0093D9;
}
footer .legalesFooter {
	width: 95%;
	display: inline-block;
	margin-top: 0.5rem;
}
footer .legalesFooter .m18{
	width:23px;
	height:24px;
	background-image:url(../images/elementos.png);
	display: inline-block;
	vertical-align: top;
}
footer .legalesFooter p {
	display: inline-block;
	font-size: 0.7rem;
	max-width: 85%;
	vertical-align: middle;
	line-height: 1rem;
}
