/*---------------------------------- home -----------------------------*/

/*cabecera*/
.logo{height:225px;}

.white{color:#fff;}

.head_ml{
	height:520px;
	padding-top: 70px;
	
}

.bg-head {
  background: url("../images/bg_people.png")left top no-repeat;
  background-size: auto 100%;
  height: 520px;
}
.ring {
  background: url("../images/anillos.png")center center no-repeat;
  background-size: auto 100%;
  height: 520px;

}

.bodcopy{
	margin:0;
}
.bodcopy p {
  font-size: 1.1rem;
  line-height: 1.2;
  width: 98%;
}

.reloj{
  height: 9rem;
  margin: 4% 0px 0%;
}

.tit-1 {
	line-height: 3rem;
	font-size: 3.6rem;
}

.brd-cmp {
  background: url("../images/pico_botella_miller.png")center bottom no-repeat;
  width: 100%;
  height: 450px;
  background-size: 85%;
}

.tapa {
  background: url("../images/tapa_miller.png")center bottom no-repeat;
  width: 36%;
  height: 140px;
  background-size: 100%;
  /* background-color: aliceblue; */
  margin: -69% 0 0 0;
  float: right;
}






